<head>
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
</head>
<body>


<h3>Hello <%= @name %></h3>

<p><%= @challenger %> vient de te défier sur le game
  "<%= @game.title %>", seras-tu capable de relever le défi ?
</p>

<p>Fais lui vite savoir en répondant à son défi en suivant le lien : </p>

  <%= link_to "Je vais le battre", bets_url, class: :'btn btn-mail btn-sm' %>


<br>
<br>

<div class="footer-mail">
 <%= "L'application Bety, une application concue au Wagon Marseille" %>
 </div>

</body>

<style>

.btn-mail {
  color: white;
  background-color: #D42828;
     ..
}


.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}



.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
}


.a {
    /*color: #337ab7;*/
    text-decoration: none;
}



.footer-mail {
  font-size: 10px;
  color: grey;
}



</style>


