

<div class="container">





  <div>

    <%= cl_image_tag current_user.photo %>
  </div>
  <div class="col-xs-12 col-sm-offset-4 col-sm-4">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">A valider</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Encours</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Terminé</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">



  <% current_user.bets.each do |bet| %>

  <div class="card">
    <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path bet.game.photo, crop: :fill%>');"">
     <div class="card-category"> </div>
     <div class="card-description"><h2><%= bet.game.title %></h2></div>
     <%= cl_image_tag bet.game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>
   </div>
   <div class="card-footer">

    <p><%= bet.game.description %> </p>
    <p><%= bet.game.price %></p>
    <% end %>
  </div>
  <!-- <a class="card-link" href="#" ></a> -->

</div>

</div>
</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>


</div>

