<div class="container">


 <div class=" col-sm-offset-3 col-sm-6 col-xs-12">


<div class="text-center">

    <img src=<%= current_user.photo_url ? cl_image_path(current_user.photo, crop: :fill) : image_path("user.jpeg", crop: :fill) %> class="card-user-big" >

  </div>


  <h1 class="h1-index"><%= current_user.user_name ? current_user.user_name : current_user.email %></h1>
  <h4 class="h4-index">SOMME DE MES GAINS</h4>
  <h2 class="h2-index"><%= @reward %>€</h2>

  <h4 class="h4-index">MES PARIS</h4>


  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">

    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><p><%= @bets_pending.count %></p><h6>A valider</h6></a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><p><%= @bets_ongoing.count %></p><h6>En cours</h6></a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><p><%= @bets_closed.count %></p><h6>Terminés</h6></a></li>

  </ul>

  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">




    <div class=" col-sm-offset-3 col-sm-6 col-xs-12">


      <% @bets_pending.each do |bet| %>



        <div class="card">

          <a href="" class=""></a>
          <%= link_to "", bet_path(bet), class: "card-link" %>
          <div class="card-body"
               style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= bet.game.photo.present? ? cl_image_path(bet.game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');">

            <div class="card-description">
            <h2><%= link_to bet.game.title, bet_path(bet) %></h2>

            </div>

            <%= cl_image_tag bet.game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

          </div>
            <div class="card-footer">
              <p><%= bet.game.description %> </p>
              <p><%= "#{bet.game.price}€/personne"%></p>
            </div>


      </div>
       <% end %>

      <div class="card">
      <% if @bets_pending.count == 0 %>

      <p class= "text-center">Aucun paris à valider en ce moment !</p>

          <div class="gif-empty-challenge"
               style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path("empty-state-illustrations.gif")%>');">
          </div>
        <% end %>
        </div>
    </div>

  <!-- <a class="card-link" href="#" ></a> -->

  </div>
    <div role="tabpanel" class="tab-pane" id="profile">
      <div class=" col-sm-offset-3 col-sm-6 col-xs-12">


      <% @bets_ongoing.each do |bet| %>



        <div class="card">
          <%= link_to "", bet_path(bet), class: "card-link" %>
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= bet.game.photo.present? ? cl_image_path(bet.game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');">


            <div class="card-description">
              <h2><%= link_to bet.game.title, bet_path(bet) %>

              </h2>
            </div>

            <%= cl_image_tag bet.game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

          </div>
            <div class="card-footer">
              <p><%= bet.game.description %> </p>
              <p><%= "#{bet.game.price}€/personne"%></p>
            </div>

        </div>
      <% end %>
        <% if @bets_ongoing.count == 0 %>
          <p>Aucun paris en cours en ce moment ! </p>
        <% end %>
    </div>

  <!-- <a class="card-link" href="#" ></a> -->
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">
      <div class=" col-sm-offset-3 col-sm-6 col-xs-12">


      <% @bets_closed.each do |bet| %>



        <div class="card">
          <%= link_to "", bet_path(bet), class: "card-link" %>
          <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= bet.game.photo.present? ? cl_image_path(bet.game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');">

            <div class="card-description">
              <h2><%= link_to bet.game.title, bet_path(bet) %>
            </div>


          <%= cl_image_tag bet.game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>



          </div>
            <div class="card-footer">
              <p><%= bet.game.description %> </p>
              <p><%= "#{bet.game.price}€/personne"%></p>
            </div>


      </div>
       <% end %>
       <% if @bets_closed.count == 0 %>
         <p>Aucun paris terminé ! </p>
       <% end %>
    </div>

  <!-- <a class="card-link" href="#" ></a> -->
    </div>

  </div>

</div>


</div>


<!-- a ranger !!!!! -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
  // Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})
</script>

