


<div class=" col-sm-offset-3 col-sm-6 col-xs-12">





  <div class="card">
    <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @bet.game.photo.present? ? cl_image_path(@bet.game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');"">

      <div class="card-description">
        <h2><%= @bet.game.title %>

        </h2>
      </div>

      <%= cl_image_tag @bet.game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

    </div>
    <div class="card-footer">
      <p> </p>
      <p><%= "#{@bet.game.price}€/personne"%></p>
    </div>


  </div>
  <p><%= @bet.game.description %> </p>





<div class="row">
  <div class="col-xs-6 text-center">

  <%= button_to "Participer", participate_path(@bet),
        method: :patch,
          class: 'btn btn-bety-red btn-sm'%>
  </div>

  <div class="col-xs-6 text-center">

<%= button_to "Refuser", denied_path(@bet),
        method: :patch,
          class: 'btn btn-bety-red btn-sm'%>
  </div>
     </div>
   </div>
</div>
<!--
<script>


 var ParticipantBtn = document.getElementById("participant");

 var DeniedBtn = document.getElementById("refuser");


 ParticipantBtn.addEventListener("click", function (event) {
    event.preventDefault();



    if (rankingBtn.classList.contains('btn-box-click')) {
      rankingBtn.classList.remove('btn-box-click');
      rankingBtn.classList.add('btn-box');
    }

    winnerBtnExplainations.classList.toggle("hidden");

    winnerBtn.classList.toggle("btn-box");
    winnerBtn.classList.toggle("btn-box-click");
  });

rankingBtn.addEventListener("click", function (event) {
    event.preventDefault();

    if (!winnerBtnExplainations.classList.contains('hidden')) {
      winnerBtnExplainations.classList.add('hidden');
    }

    if (winnerBtn.classList.contains('btn-box-click')) {
      winnerBtn.classList.remove('btn-box-click');
      winnerBtn.classList.add('btn-box');
    }

    simulation.classList.toggle("hidden");

    rankingBtn.classList.toggle("btn-box");
    rankingBtn.classList.toggle("btn-box-click");
  });


</script>

 -->
