<div class=" col-sm-offset-3 col-sm-6 col-xs-12">





  <div class="card">

    <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @bet.game.photo.present? ? cl_image_path(@bet.game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');"">


      <div class="card-description">
        <h2><%= @bet.game.title %>

        </h2>
      </div>

      <%= cl_image_tag @bet.game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

    </div>
    <div class="card-footer">
      <p> </p>
      <p><%= "#{@bet.game.price}€/personne"%></p>
    </div>


  </div>
  <p><%= @bet.game.description %> </p>








       <% if @bet.status =="closed" %>


          <ul>
          <% @bet.game.prizes.each do |prize| %>
          <div class="col-xs-12 text-center">

          <li>

          <img src=<%= prize.user.photo.present? ? cl_image_path(prize.user.photo, crop: :fill) : image_path("user.jpeg", crop: :fill) %> class="card-user-small" >

          <p> <%=prize.user.email  %>a gagné <%= prize.reward %> €</p>
          </li>
          <% end %>

          </ul>
      <% elsif @bet.game.bets.find_by(challenger: true).user == current_user %>
      <div class="col-xs-6 text-center">
      <%= button_to "Fermer les paris", close_bets_path,
      method: :patch,
      class: 'btn btn-bety-red btn-sm'%>
      </div>

      <div class="col-xs-6 text-center">


      <%= button_to "Fin et attribution des prix", winners_path,
      method: :get,
      class: 'btn btn-bety-red btn-sm'%>
      </div>

      <% else %>
          <% if @bet.game.status == "ongoing"%>
          <h1>Les paris sont clos</h1>

          <%elsif @bet.status == "ongoing"%>

          <div class="col-xs-12 text-center">

            <%= button_to "Refuser", denied_path(@bet),
            method: :patch,
            class: 'btn btn-bety-red btn-sm'%>
          </div>

          <% else %>
          <div class="col-xs-6 text-center">
            <%= button_to "Participer", participate_path(@bet),
            method: :patch,
            class: 'btn btn-bety-red btn-sm'%>
          </div>

          <div class="col-xs-6 text-center">

            <%= button_to "Refuser", denied_path(@bet),
            method: :patch,
            class: 'btn btn-bety-red btn-sm'%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--
<script>


 var ParticipantBtn = document.getElementById("participant");

 var DeniedBtn = document.getElementById("refuser");


 ParticipantBtn.addEventListener("click", function (event) {
    event.preventDefault();



    if (rankingBtn.classList.contains('btn-box-click')) {
      rankingBtn.classList.remove('btn-box-click');
      rankingBtn.classList.add('btn-box');
    }

    winnerBtnExplainations.classList.toggle("hidden");

    winnerBtn.classList.toggle("btn-box");
    winnerBtn.classList.toggle("btn-box-click");
  });

rankingBtn.addEventListener("click", function (event) {
    event.preventDefault();

    if (!winnerBtnExplainations.classList.contains('hidden')) {
      winnerBtnExplainations.classList.add('hidden');
    }

    if (winnerBtn.classList.contains('btn-box-click')) {
      winnerBtn.classList.remove('btn-box-click');
      winnerBtn.classList.add('btn-box');
    }

    simulation.classList.toggle("hidden");

    rankingBtn.classList.toggle("btn-box");
    rankingBtn.classList.toggle("btn-box-click");
  });


</script>

-->
