<!-- <div class="hidden-xs ">

  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

</div>


<div class="hidden-sm hidden-md hidden-lg"> -->
<div class="mobile-background">
    <div class="mobile-H1">
      <div class="col-xs-12">
          <h1>BETY</h1>
          <h3>Tes paris entre amis</h3>
          <% if user_signed_in?%>
          <div class="banner-mobile"></div>
                  <%= link_to new_game_path do %>
                  <%= image_tag "logo_fond_blanc.png" %>
                  <% end %>
            <% else %>
              <%= link_to new_user_session_path do %>
              <%= image_tag "logo_fond_blanc.png" %>
              <% end %>
            <% end %>
          <br>
          <br>
          <br>
          <div class="mobile-H1 align-center">
            <p>Toucher pour créer un pari</p>
          </div>
          <div class="banner-mobile-text">
            <%= link_to "Mes paris en cours", bets_path, class: "btn btn-bety-primary " %>
          </div>
      </div>
    </div>
</div>


