<% @games.each do |game| %>
<ul>
  <li>
    <%= game.title %>
  </li>
  <li>
    <%= game.description %>
  </li>
  <li>
    <%= game.price %>
  </li>
  <li>
    <%= game.dead_line %>
  </li>
  <li>
   <%= cl_image_tag game.photo, height: 100, width: 150 %>
 </li>
</ul>

<br>
<% end %>
