<div class="col-xs-12 ">
  <br>
<%= simple_form_for :invitations, url: invite_path, method: :post do |f| %>
  <%= f.simple_fields_for :users do |user| %>
    <div id="emailFields" data-nextid="1">
      <%= render "email_field",user: user, id: 0%>
    </div>
    <div class="col-xs-12 text-center">
      <br>
      <a id="addEmail", class="btn btn-bety-red-border">Ajouter une invitation</a>
    </div>

    <script>
     var emailBtn = document.getElementById("addEmail");
     var emailDiv = document.getElementById("emailFields");
     var emailField = "<%= j render "email_field",user: user, id: 0 %>";


     emailBtn.addEventListener("click",function() {
      emailDiv.insertAdjacentHTML("beforeend", emailField);
      var nextId = Number(emailDiv.dataset.nextid);
      var input = emailDiv.lastElementChild.lastElementChild;

      input.name = `invitations[users][email_${nextId}]`;
      emailDiv.dataset.nextid = nextId + 1 ;
     });
    </script>
  <% end %>
  <div class="col-xs-12 text-center">
    <br>
  </div>
  <div class="col-xs-12 text-center">
  <%= f.submit "Lancer les invitations", class: :'btn btn-bety-red' %>
  </div>
<% end %>
</div>



