<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <%= simple_form_for(@game) do |f| %>

      <%= f.input :title, placeholder: 'ex : soirée poker', input_html:{class:'my_input'}%>
      <%= f.input :description, placeholder: 'RDV chez moi à partir de 21h', input_html:{class:'my_input'}%>
      <%= f.input :price, placeholder: '€', input_html:{class:'my_input'}%>
      <%= f.input :dead_line, placeholder: '18/06/18', input_html:{class:'my_input'}%>
      <%= f.input :photo %>
      <%=f.input :photo_cache, as: :hidden %>

      <%= f.button :button, "Partagez", type: :submit, class: :'btn btn-treehouse btn-sm' %>
      <% end %>

    </div>
  </div>
</div>
