<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <%# @game.video %>
      <%= simple_form_for(@game) do |f| %>

      <%= f.input :title,
      label: 'Titre',
      placeholder: 'ex : Pas cap de sauter de 10m',
      input_html:{class:'my_input'}%>
      <%= f.input :photo,
       input_html:{class:'my_input'}%>
      <%= f.input :description,
      placeholder: 'RDV sur la corniche à 19H Sam',
      input_html:{class:'my_input'}%>
      <%= f.input :price,
      label: 'Mise',
      placeholder: '5€',
      input_html:{class:'my_input'}%>

      <div class="form-group">
        <input type="checkbox" id="deadline-checkbox" onclick="showDeadline()"> Programmer une fin de pari
      </div>
      <div class="hidden" id="deadline">
        <%= f.input :dead_line,
        label: 'Date de fin de pari',
        input_html: {class:'my_input'},
        html5: true%>
      </div>

      <%= f.input :title,
      label: "Invitez des Betyers"%>

      <h4>Type de jeu</h4>

      <div class="row">
        <div class="col-xs-6">
          <%= f.button :button,
          "Win / Loose",
          type: :submit, id: "winner",
          class: :'btn-box'
            %>
          </div>
          <div class="col-xs-6">
            <%= f.button :button,
            "Classement",
            type: :submit, id: "ranking",
            class: :'btn-box' %>
          </div>
        </div>
        <p class="hidden" id="explication">"Le ou les gagnants se partage(-ent) les gains de façon équivalente"</p>
        <div class="hidden" id="calcul">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Ranking</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Prize</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Jos</td>
                <td>50%</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Clémentino</td>
                <td>30%</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Gui-Toinou</td>
                <td>20%</td>
              </tr>
            </tbody>
          </table>
          <p>Exemple de répartition pour un Total de mise de 25€ pour 4 Betyers: </p>
        </div>

          <br>

        <div class="row" align=center>
          <%= f.button :button,
          "Lancez le pari",
          type: :submit,
          class: :'btn btn-bety-red btn-sm'%>
         </div>
         <% end %>
       </div>
     </div>
          <br>
   </div>


<script>
  function showDeadline() {
    var checkBox = document.getElementById("deadline-checkbox");
    var input = document.getElementById("deadline");
    if (checkBox.checked == true){
      input.classList.remove("hidden");
    } else {
     input.classList.add("hidden");
   }
 }

 var winnerBtn = document.getElementById("winner");
 var winnerBtnExplainations = document.getElementById("explication");

 var rankingBtn = document.getElementById("ranking");
 var simulation = document.getElementById("calcul");

 winnerBtn.addEventListener("click", function (event) {
    event.preventDefault();

    if (!simulation.classList.contains('hidden')) {
      simulation.classList.add('hidden');
    }

    if (rankingBtn.classList.contains('btn-box-click')) {
      rankingBtn.classList.remove('btn-box-click');
      rankingBtn.classList.add('btn-box');
    }

    winnerBtnExplainations.classList.toggle("hidden");

    winnerBtn.classList.toggle("btn-box");
    winnerBtn.classList.toggle("btn-box-click");
  });

rankingBtn.addEventListener("click", function (event) {
    event.preventDefault();

    if (!winnerBtnExplainations.classList.contains('hidden')) {
      winnerBtnExplainations.classList.add('hidden');
    }

    if (winnerBtn.classList.contains('btn-box-click')) {
      winnerBtn.classList.remove('btn-box-click');
      winnerBtn.classList.add('btn-box');
    }

    simulation.classList.toggle("hidden");

    rankingBtn.classList.toggle("btn-box");
    rankingBtn.classList.toggle("btn-box-click");

    var y = window.innerHeight;
    window.scroll({top: y, behavior: "smooth"});


  });


</script>




