

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <h2>Selectionner le(s) gagnant(s)</h2>
      </%>
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @game.photo.present? ? cl_image_path(@game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');">
        <div class="card-description">
          <h2><%= @game.title %></h2>
        </div>

        <%= cl_image_tag @game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

      </div>

      <div class="card-footer"></div>

      <br>
      <table>
      <%= simple_form_for @game, url: winners_path, method: :patch do |f| %>

      <% @game.bets.each_with_index do |bet, index| %>
        <%= f.simple_fields_for :prizes do |pr| %>
    <div>


      <tr>

      <td>
        <img src=<%= bet.user.photo.present? ? cl_image_path(bet.user.photo, crop: :fill) : image_path("user.jpeg", crop: :fill) %> class="card-user-small" >
      </td>

      <td>
        <%= bet.user.user_name ? bet.user.user_name : bet.user.email %>
      </td>

      <td>

  <% if @game.category == "winner" %>

        <%= pr.association :user, as: :hidden, input_html: {value: bet.user.id} %>
        <%= pr.input :ranking,
              collection: @ranking_possibilities,
              as: :boolean,
              input_html: {class:"hidden"},
              label: false
               %>
          <button class="buttons" data-checkbox= "game_prizes_attributes_<%= index + 1  %>_ranking"> Winner</button>

  <% else %>

      <%= pr.association :user, as: :hidden, input_html: {value: bet.user.id} %>
      <%= pr.input :ranking,
            collection: @ranking_possibilities
             %>
  <% end %>
      </td>

      <% end %>
      <% end %>
      </table>
      </div>
      <%= f.submit "Lancer les paiements", class: :'btn btn-bety-red btn-sm' %>
      <br>

      <% end %>
      </div>
    </div>
  </div>


</div>

<script>

  var buttons = document.querySelectorAll('.buttons');

  buttons.forEach(function(button) {
    button.addEventListener('click', function(e) {
      console.log(e.target)
      e.preventDefault();
      var checkbox = document.getElementById(this.dataset.checkbox);
      this.classList.toggle("btn-box-small-click")

      if (checkbox.checked) {
        checkbox.checked = false;
      } else {
        checkbox.checked = true;
      }
    });
  })
</script>













