

<div class="container">
  <div class="col-xs-12 text-center">
    <h2>Selectionner le(s) gagnant(s)</h2>
    <div class="card">
    <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @game.photo.present? ? cl_image_path(@game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');">
      <div class="card-description">
        <h2><%= @game.title %></h2>
      </div>

      <%= cl_image_tag @game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

    </div>

    <div class="card-footer">
      <div class="col-xs-12 text-center">
        <h5> Sélectionne les gagnants</h5>

        <br>
        <table>
          <%= simple_form_for @game, url: winners_path, method: :patch do |f| %>

          <% @game.bets.ongoing.each_with_index do |bet, index| %>
          <%= f.simple_fields_for :prizes do |pr| %>
          <div>
            <tr>

              <td>
                <img src=<%= bet.user.photo.present? ? cl_image_path(bet.user.photo, crop: :fill) : image_path("user.jpeg") %> class="card-user-prize" >


                <% if @game.category == "winner" %>



                <%=" Est ce que #{ bet.user.user_name ? bet.user.user_name : bet.user.email} a gagné(e) " %>



                <%= pr.association :user, as: :hidden, input_html: {value: bet.user.id} %>
                <%= pr.input :ranking,
                      collection: @ranking_possibilities,
                      as: :boolean,
                      input_html: {class:"hidden"},
                      label: false %>
                <button class="buttons btn-bety-red-border"
                        data-checkbox="game_prizes_attributes_<%= index %>_ranking">
                  oui
                </button>

                <% elsif  @game.category == "match" %>


                    <%="#{ bet.user.user_name ? bet.user.user_name : bet.user.email} a jouer #{bet.match_bet}, a-t-il gagné(e) ?" %>


                  <%= pr.association :user, as: :hidden, input_html: {value: bet.user.id} %>
                    <%= pr.input :ranking,
                      collection: @ranking_possibilities,
                      as: :boolean,
                      input_html: {class:"hidden"},
                      label: false %>
                <button class="buttons btn-bety-red-border"
                        data-checkbox="game_prizes_attributes_<%= index %>_ranking">
                  oui
                </button>

                <% else %>



                <%=" Est ce que #{ bet.user.user_name ? bet.user.user_name : bet.user.email} a gagné(e) " %>



                <%= pr.association :user, as: :hidden, input_html: {value: bet.user.id} %>
                <%= pr.input :ranking,
                collection: @ranking_possibilities
                %>
                <% end %>
              </td>

              <% end %>
              <% end %>
            </tr>
            </table>

        </div>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <%= f.submit "Lancer les paiements", class: :'btn btn-bety-red btn-sm' %>
      </div>
      <br>

      <% end %>
    </div>

  </div>





<script>

  var buttons = document.querySelectorAll('.buttons');

  buttons.forEach(function(button) {
    button.addEventListener('click', function(e) {
      // console.log(e.target)
      e.preventDefault();
      var checkbox = document.getElementById(this.dataset.checkbox);
      this.classList.toggle("btn-box-small-click")

      if (checkbox.checked) {
        checkbox.checked = false;
      } else {
        checkbox.checked = true;
      }
    });
  })
</script>













