

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
      <p>La mise à répartir : <%= "#{@game.price}€"%></p>
      </%>
      <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @game.photo.present? ? cl_image_path(@game.photo, crop: :fill) :  image_path("challenge.jpeg") %>');">
        <div class="card-description">
          <h2><%= @game.title %></h2>
        </div>

        <%= cl_image_tag @game.bets.find_by(challenger: true).user.photo_url, class: "card-user" %>

      </div>

      <div class="card-footer">

      <br>
      <%= simple_form_for @game, url: winners_path, method: :patch do |f| %>

        <p>Répartition au format Gagnant/Perdant :</p>
        <% @game.bets.each_with_index do |bet, index| %>
          <%= f.simple_fields_for :prizes do |pr| %>
            <div style="display: flex">
              <%= bet.user.photo.present? ? cl_image_tag(bet.user.photo.url, height: 100, width: 170) : image_tag("challenge.jpeg") %>
              <%= pr.association :user, as: :hidden, input_html: {value: bet.user.id} %>
              <%= pr.input :ranking,
                    collection: @ranking_possibilities,
                    as: :boolean,
                    input_html: {
                      class:"hidden",
                      value: 0,
                    },
                    label: false %>
              <button
                class="buttons btn-box"
                data-checkbox= "game_prizes_attributes_<%= index  %>_ranking">
                  Winner
              </button>
            </div>
          <% end %>
        <% end %>
        <%= f.submit "Fermer le game et lancer les paiements", class: :'btn btn-bety-red btn-sm' %>

      <% end %>
    </div>
  </div>


</div>

<script>

  var buttons = document.querySelectorAll('.buttons');

  buttons.forEach(function(button) {
    button.addEventListener('click', function(e) {
      console.log(e.target)
      e.preventDefault();
      var checkbox = document.getElementById(this.dataset.checkbox);
      this.classList.toggle("btn-box-click")

      if (checkbox.checked) {
        checkbox.checked = false;
      } else {
        checkbox.checked = true;
      }
    });
  })
</script>













